.square-image {
    width: 150px; /* Atur lebar sesuai yang Anda inginkan */
    height: 150px; /* Atur tinggi sesuai yang Anda inginkan */
    object-fit: cover; /* Menjaga gambar tetap proporsional */
  }

  .image-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 kolom dalam grid */
    gap: 20px; /* Jarak antara elemen-elemen */
  }
  
  .image-item {
    text-align: center;
  }
  
  .square-image {
    width: 150px; /* Atur lebar sesuai yang Anda inginkan */
    height: 150px; /* Atur tinggi sesuai yang Anda inginkan */
    object-fit: contain; /* Menjaga gambar tetap proporsional tanpa memotong */
    border: 0px solid #ccc; /* Garis tepi untuk menampilkan batas kotak gambar */
    
  }
  

  /* Menghilangkan judul (title) */
@page {
    size: auto;
    margin: 0mm;
}

/* Menghilangkan alamat URL */
@page :left {
    margin: 0;
}

@page :right {
    margin: 0;
}

  
  